@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

body{
  background-color: #efefef;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #333;
}
p{
  margin: 0;
  padding: 10px 0;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
h4{
  font-size: 1.3rem;
}
.btn-primary{
  background-color: #EDAA40;
  border-color: #EDAA40;
  font-size: 20px;
  font-weight: bold;
}
.btn-primary:hover{
  background-color: #dd9933;
  border-color: #dd9933;
}
.btn-outline-primary{
  border: 1px solid #EDAA40 !important;
  color: #EDAA40 !important;
}
.btn-outline-primary:hover{
  border: 1px solid #EDAA40 !important;
  background-color: #EDAA40 !important;
  color: #ffffff !important;
}
#home .container, .cta .container, .table-contents .container,
.chapter-header .container, .chapter-contents .container, #YourTurn .container,
footer .container, .bottom .container{
  max-width: 1024px;
}
.header{
  background-color: #02182B;
}
#navbarSupportedContent .navbar-nav .nav-item{
  padding: 0 15px;
}
#navbarSupportedContent .navbar-nav .nav-item a{
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: color .5s ease-in-out;
}
#navbarSupportedContent .navbar-nav .nav-item a:hover,
#navbarSupportedContent .navbar-nav .nav-item.active a{
  color: #3DA5E4;
}

.pt-80{
  padding-top: 80px;
}
.pt-60{
  padding-top: 60px;
}
.pt-40{
  padding-top: 40px;
}
.white-bg{
  background-color: #fff;
}
.lightgrey-bg{
  background-color: #f9f9f9;
}
.green-bg{
  background-color: #0EAD69;
}
.blue-bg{
  background-color: #3DA5E4;
}
.blue2-bg{
  background-color: #3992C8;
}
.darkblue-bg{
  background-color: #02182B;
}
.purple-bg{
  background-color: #540D6E;
}
.pink-bg{
  background-color: #DE3954;
}
.title-header{
  border-bottom: 1px solid #fff;
}
.title-header h3,
.content-header h3{
  text-transform: uppercase;
  font-size: 28px;
  font-weight: 800;
  margin: 0;
}
.title-header h1{
  font-size: 48px;
  font-weight: 300;
  margin: 0;
}
.title-header h2{
  font-weight: 700;
}
.content-item{
  width: 225px;
  height: 225px;
  color: #fff;
  border-radius: 100%;
  border: 10px solid #efefef;
  cursor: pointer;
  transition: background-color .5s ease-in-out,border-color .5s ease-in-out,box-shadow .5s ease-in-out;
}
.content-item h3{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
}
.content-item h4{
  font-weight: 400;
}
.content-item.purple-bg:hover{
  color: #540D6E;
  border-color: #540D6E;
  background-color: #fff;
}
.content-item.blue-bg:hover{
  color: #3DA5E4;
  border-color: #3DA5E4;
  background-color: #fff;
}
.content-item.pink-bg:hover{
  color: #DE3954;
  border-color: #DE3954;
  background-color: #fff;
}
.content-item.green-bg:hover{
  color: #0EAD69;
  border-color: #0EAD69;
  background-color: #fff;
}
.chapter-contents .title-header{
  border-bottom: 1px solid #999999;
  margin-bottom: 20px;
}
#YourTurn h1{
  font-weight: 700;
}
footer{
  margin-top: 200px;
}
footer .top{
  position: relative;
  height: 225px;
}
footer .top .newsletter{
  position: relative;
}
footer .top .newsletter-container{
  position: absolute;
  top: -100;
  left: 0;
}
footer .top .newsletter-container img{
  position: absolute;
  right: 0;
  top: -90px;
  width: 25%;
  z-index: 99999;
}
footer .top .newsletter-content{
  width: 75%;
}
footer .top .newsletter-content h3{
  font-size: 36px;
  font-weight: 700;
}
footer .top .form-container button{
  width: 100%;
}
footer .top .footer-links ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .top .footer-links ul li{
  padding: 5px 0;
}
footer .top .footer-links ul li a{
  color: #333;
  font-size: 14px;
}
footer .bottom{
  text-align: right;
  border-top: 1px solid #efefef;
}
footer .bottom .social-links,
footer .bottom p.copyright{
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 5px;
  font-size: 14px;
}
footer .bottom .social-links li{
  display: inline-block;
  list-style: none;
  background-color: #02182B;
  border-radius: 100%;
  color: #fff;
  width: 38px;
  height: 38px;
  text-align: center;
  padding-top: 12px;
  transition: background-color .5s ease-in-out;
}
footer .bottom .social-links li:hover{
  background-color: #3DA5E4;
}
footer .bottom .social-links li a{
  color: #fff;
}
.scrollup{
  width: 46px;
  height: 46px;
  border-radius: 100%;
  position: fixed;
  bottom: 30px;
  right: 16px;
  display: none;
  z-index: 999;
}


@media (max-width: 991px) {
  .container{
    max-width: 100%;
    width: 100%;
  }
  footer{
    margin-top: 100px;
  }
  footer .top{
    height: auto;
  }
  footer .top .newsletter-container{
    position: initial;
  }
  footer .top .footer-links{
    text-align: center;
  }
  footer .bottom{
    text-align: center;
  }
  footer .bottom .social-links,
  footer .bottom p.copyright{
    display: block;
    padding: 5px;
  }
}
@media (min-width: 992px) {
  #navbarSupportedContent{
    position: absolute;
    right: 0;
    text-align: right;
  }

}

@media (max-width: 1199px) {
  footer .top .newsletter-content h3{
    font-size: 30px;
  }
}
